.social-icons ul>li>a {
    display: block;
    color: white;
    background-color: rgba(0, 46, 102, 0.8);
    border-color: white;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
}

.bigger {
    display: block;
    color: white;
    background-color: rgba(0, 46, 102, 0.8);
    border-color: white;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
}

/* custom badges */
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .badge {
        transition: none;
    }
}

a.badge:hover,
a.badge:focus {
    text-decoration: none;
}

.badge:empty {
    display: none;
}

.badge-bronze {
    color: #fff;
    background-color: #cd7f32;
}

.badge-silver {
    color: #fff;
    background-color: #C0C0C0;
}

.badge-gold {
    color: #fff;
    background-color: #D4AF37;
}

/* custom background color */
.custom-bg {
    /*teal green */
    /*background-color: #20c997;*/
    /* blue */
    background-color: #122232;
}