.social-icons ul {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.social-icons ul>li {
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
}

.social-icons ul>li>a {
    display: block;
    color: white;
    background-color: rgba(0, 46, 102, 0.8);
    border-radius: 100%;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
}

@media (min-width: 768px) {

    .social-icons ul {
        margin-top: 0;
        width: auto;
    }

    .social-icons ul>li {
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .social-icons ul>li:last-child {
        margin-bottom: 0;
    }

    .social-icons ul>li>a {
        transition: all 0.2s ease-in-out;
        font-size: 2rem;
        line-height: 4rem;
        height: 4rem;
        width: 4rem;
    }

    .social-icons ul>li>a:hover {
        background-color: #002E66;
    }
}