.social-icons ul>li>a {
    display: block;
    color: white;
    background-color: rgba(0, 46, 102, 0.8);
    border-color: white;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
}

.bigger {
    display: block;
    color: white;
    background-color: rgba(0, 46, 102, 0.8);
    border-color: white;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
}